.btn {
  width: auto;
  height: 50px;
  font-size: 20pt;
  border-radius: 10px;
  cursor: pointer;
}

.users {
  font-size: 20pt;
}

.no-list-style {
  list-style-type: none;
}

.margin-left {
  margin-left: 100px;
}
